.option {
  font-weight: 300!important;
  font-size: 12px!important;
  color: #ffffff!important;
  padding: 10px!important;
  display: block!important;
}

.option a {
  color: inherit;
  text-decoration: none;
}

.option span {
  color: #ffff;
  margin-right: 10px;
}
// .bars {
//   background: #42ce9f;
// }

@media only screen and (max-width: 768px) {
  .bars {
    background: #42ce9f;
  }
}