@media (min-width: 320px) and (max-width: 768px) {
  .logo img {
    height: 70px;
    width: 100px;
    float: left;
  }
  .logo-text {
    font-size: 1.2em;
    margin-top: 20px;
  }
  .working-hours, .social, .nav-bar {
    display: none;
  }
  .banner {
    width: 100%;
  }
  .banner-text {
    padding: 7px;
    width: unset;
  }
  .today-special-food {
    font-family: Handlee;
    font-size: 1.4em;
    font-family: Handlee;
    font-size: 1.0em;
  }
  .menu-banner {
    height: 150px;
  }
  .menu-text {
    h3 {
      font-size: 1.2em;
      padding: 1px;
    }
    p {
      font-size: 12px;
    }
  }
  .menu-section {
    margin: 10px;
    width: 100%;
  }
  .full-menu {
    font-size: 15px !important;
    padding: 10px !important;
    width: 30% !important;
  }
  .about-paragraph {
    text-align: justify;
    padding: 3px;
    font-size: 1.2em;
    line-height: 40px;
    width: 100%;
    /* color: #ff0a10; */
  }
  .info-text h3 {
    font-size: 1.7em;
  }
  .banner-text h2 {
    font-size: 30px;
  }
  .checkout {
    width: 90%;
  }
  .top-button {
    width: 70%;
  }
  .history-head-text {
    font-size: 1.0em;
  }
  .success-text {
    margin-bottom: 30px;
  }
  .successful {
    height: 340px;
  }
}

@media (min-width: 768px) and (max-width: 912px) {
  .menu-section {
    margin: 10px;
    width: 90%;
  }
  .banner-text h2 {
    line-height: 1.5em;
    font-size: 30px;
    color: #42ce9f;
  }
  nav {
    width: 90%;
  }
  .logo-text {
    font-size: 1.3em;
  }
  .logo img {
    height: 70px;
    width: 80px;
    margin-top: 10px;
  }
  .wrapper {
    display: none;
  }
}

@media (min-width: 912px) {
  nav {
    width: 90%;
  }
  .wrapper {
    display: none;
  }
}

.navbar-nav {
  margin: 0;
}

.navbar-header, .navbar-inverse .navbar-nav > li {
  padding: 3.5rem 1rem;
}

.navbar__header {
  width: 100%;
}

.js__navbar__toggler {
  display: block;
  color: #ffff;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}

.navbar__collapse {
  height: 100%;
  width: 250px;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #42ce9f;
  overflow-x: hidden;
  transition: display 0.5s;
  padding-top: 15px;
  .navbar__nav {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
  }
}

.navbar__nav > li {
  font-family: Righteous;
  padding: 35px 20px;
  width: 100%;
  text-align: center;
}

.navbar__collapse {
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    &:hover {
      color: #f1f1f1;
    }
  }
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: block;
  }
}

.cart-area span {
  padding: 10;
}

.cart-img {
  width: 40px;
  height: 40px;
}

.mobile__navbar {
  background: #42ce9f;
  border-radius: 0%;
}