

/* GENERAL STYLING  */

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Kreon;
  outline: none;
}

body {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  width: 100vw;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: #42ce9f;
    background-color: transparent;
    text-decoration: none;
  }
  &:hover, &:active {
    color: #42ce9f;
    background-color: transparent;
    text-decoration: underline;
  }
}

li {
  list-style: none;
}