// 404 page
.notFound {
  background: url('/public/images/404.png') no-repeat;
  background-size: cover;
  height: 700px;
  width: 100vw;
  padding: 10px;
  margin-top: 10px;
}

.notfoundtext {
  color: #ffff;
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ffff;
  padding: 20px;
  width: 700px;
}
.link:hover {
  color: #ffff;
}

